*, :after, :before {
    box-sizing: border-box;
}


.page-content {
      padding-top: 2em;
}

.container {
  max-width: 50em;
  margin: 0 auto;
}

.outer {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
}



.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    min-height: 300px;
    background-color: #dce7f2;
    border: 1px solid #2a4f73;
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin-bottom: 20px;
}

.flex-item-grow-1 {
   flex-grow: 1;
   margin-left: 8px;
}

button {
    margin-left: 8px;
    border-radius: 30px;
    margin-right: 8px;
}

input {
    height: 35px;
}
