*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.page-content {
  padding-top: 2em;
}

.container {
  max-width: 50em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 200px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 15px;
}

.flex-item-grow-1 {
  flex-grow: 1;
}

button {
  height: 40px;
  width: 60px;
}

#flex-button-random {
  margin-right: 1em;
  margin-left: 1em;
}

#flex-button-search {
  margin-left: 1em;
}

input {
  height: 40px;
  font-size: 1.2em;
}

.placeholder {
  color: rgba(142, 142, 142, 0.8);
}

.result-container {
   display: block;
   margin-bottom: 1em;
   border: 1px solid black;
   padding: 1em;
}


.result-item {
  display: block;
}


@media only screen and (max-width: 420px) {
  .container {
    max-width: 405px;
    margin: 0 auto;
  }
    #flex-button-random {
      margin: 1px;
      margin-left: 3px;
      padding: 3px;
  }
    #flex-button-search {
      margin: 1px;
      margin-left: 3px;
      padding: 3px;
    }

}


@media only screen and (max-width: 361px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
  }
   #flex-button-random {
      margin: 1px;
      margin-left: 3px;
      padding: 3px;
  }
    #flex-button-search {
      margin: 1px;
      margin-left: 3px;
      padding: 3px;
    }
   
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }

  #flex-button-random {
      margin: 1px;
      margin-left: 3px;
      padding: 2px;
  }
    #flex-button-search {
      margin: 1px;
      margin-left: 3px;
      padding: 2px;
    }
    input {
      width: 100px;
      font-size: 1em;
      height: 40px;
    }
}